In [3]:
import pandas as pd
import numpy as np

In [16]:
lv1_pre = pd.read_csv('./data/result.csv',header=None,dtype=str)

In [17]:
lv1_pre.head()

                      0   1
0  13522617881232410931  07
1  13521771578659248229  22
2  13517541450239117642  09
3  13521900652615370778  22
4  13510387983864567939  21

In [18]:
LV1_CATEGORY_ID_LIST = [
    '00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10',
    '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22'
]

lv2_data = pd.DataFrame()
for lv1_num in LV1_CATEGORY_ID_LIST:
    lv2_pre = pd.read_csv(f'./data/result_{lv1_num}.csv',header=None,dtype=str)
    lv2_data = pd.concat([lv2_data,lv2_pre])
lv2_data.head()

                      0   1
0  13510069964557719586  00
1  13522479412823463941  05
2  13523237422705281114  07
3  13522575877100738620  05
4  13512866015500830798  04

In [19]:
lv2_data.shape

(25000, 2)

In [20]:
final_res = pd.merge(lv1_pre,lv2_data,how='left',on=0)

In [21]:
final_res.head()

                      0 1_x 1_y
0  13522617881232410931  07  03
1  13521771578659248229  22  07
2  13517541450239117642  09  05
3  13521900652615370778  22  22
4  13510387983864567939  21  06

In [22]:
final_res.shape

(25000, 3)

In [23]:
final_res['1_x'] = final_res['1_x'].astype('str')
final_res['1_y'] = final_res['1_y'].astype('str')
final_res['new'] = final_res['1_x'].str.cat(final_res['1_y'])
final_res.head()

                      0 1_x 1_y   new
0  13522617881232410931  07  03  0703
1  13521771578659248229  22  07  2207
2  13517541450239117642  09  05  0905
3  13521900652615370778  22  22  2222
4  13510387983864567939  21  06  2106

In [24]:
final_res[[0,'new']].head()

                      0   new
0  13522617881232410931  0703
1  13521771578659248229  2207
2  13517541450239117642  0905
3  13521900652615370778  2222
4  13510387983864567939  2106

In [26]:
final_res[[0,'new']].to_csv('./data/final.csv',header=False,index=False)